modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 4173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5173
externalPort = 5173

[workflows]

[[workflows.workflow]]
name = "Run Dev"
mode = "sequential"
author = 40210813

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Build"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Preview"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run preview"
